
.grid{
    display:grid;
    grid-template-columns: auto auto auto  ;
    background-color:white;
    gap: 20px 20px;
    grid-template-rows: 50px 70px 70px 70px 70px 50px; 
    justify-content:stretch;
    
    width: 40% ;
    height: 100;
}
 .g1{
    background-color: gray;
    grid-column: 1/13;
}
.g2{
    grid-column: 1/9;
    background-color: blue;
}

.g3{background-color: aqua;
grid-column: 9/13;
}
.g4{
    background-color: yellow;
    grid-column: 1/5;
}
.g5{
    background-color: yellow;
 grid-column: 5/9;
}
.g6{
    background-color: yellow;
    grid-column: 9/13;
}
.g7{
    background-color: aqua;
    grid-column: 1/5; 
}
.g8{
    grid-column: 5/13;
    background-color: blue;
    }

.g9{
    background-color: orange;
    grid-column: 1/4;
}

.g10{
    background-color: orange;
    grid-column: 4/7;
}

.g11{
    background-color: orange;
    grid-column: 7/10;
}

.g12{
    background-color: orange;
    grid-column: 10/13;
}
.g13{
    grid-column: 1/13;
    background-color: gray;
}
  